@charset "utf-8";

html {
    background-color: lightskyblue;
}

h1 {
    position: absolute;
    top: 20px;
    left: 350px;
}

#表格 {
    position: fixed;
    display: none;
}

#表格, #legend, #export {
    border: solid 2px;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}

#legend, #export {
    position: absolute;
    bottom: 50px;
}

#legend {
    left: 50px;
}

#表格 th {
    background-color: lightgrey;
}

#表格 td {
    background-color: lightgrey;
    cursor: pointer;
}

#export {
    left: 150px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: black;
}

#地图 {
    position: relative;
    width: 864px;
    height: 720px;
    background-color: lightskyblue;
}

th, td, #export {
    padding: 0.2em;
}

footer {
    font-size: x-small;
}
