@charset "utf-8";

html {
    background-color: lightskyblue;
}

h1 {
    position: absolute;
    top: 30px;
    left: 400px;
}

#legend, #export {
    border: solid 2px;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}

#legend, #export {
    position: absolute;
    bottom: 50px;
}

#legend {
    left: 50px;
}

#export {
    left: 150px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: black;
}

#map {
    position: relative;
    width: 864px;
    height: 720px;
}

th, td, #export {
    padding: 0.2em;
}
